
.team {
	width: 100%;
	background-image: url('../../images/team bg.png');
	background-position: center;
	padding: 68px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.team .overlay {
	width: 100%;
	height: 100%;
}

.team .text {
	color: #fff;
	position: relative;
}

.team .h_line {
	background-color: #fff;
}

.people {
	display: flex;
	justify-content: center;
}

.team_block {
	position: relative;
	width: 18%;
	background-color: #c8cccf;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.team_block img {
	width: 100%;
}

.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.duties {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.social a {
	margin: 5px 2px;
}

.team button {
	background: none;
	border: 2px solid #fff;
	border-radius: 35px;
	color: #fff;
	padding: 10px 15px;
	margin-top: 40px;
	margin-bottom: 50px;
	position: relative;
}









